<a
  href="#"
  class="list-group-item clearfix"
(click)="onSelected()">
<div class="float-left">
    <h3 appBasicHighlight  class="list-group-item-heading">{{recipe.name}}</h3>
    <p class="list-group-item-text">{{recipe.description}}</p>
    <div appBetterHighlight [defaultColor]="'rgb(210, 232, 255, 0.5)'" [highlightColor]="'rgb(210, 232, 255)'" class="date">{{dateToday|date}}</div>
  </div>
  <span class="float-right">
        <img
          [src]="recipe.imagePath"
          alt="{{recipe.name}}"
          class="img-thumbnail"
          style="max-height: 100px;">
      </span>
</a>
